# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Static collected files (if using collectstatic)
staticfiles/

# Media (optional)
media/